<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>新闻_我的网站</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" type="text/css" media="all" />
    <!--[if lt IE 9]><script type="text/javascript" src="__PUBLIC__/Home/js/html5.js" ></script><![endif]-->
</head>
<body>
<include file="public:header"/>
<section id="newslist">
    <div class="cat_title">
        <div class="wrapper">
            <h2><strong>message</strong>消息</h2>
            <p>最新消息...<br/>message ...</p>
        </div>
    </div>

    <ul class="news wrapper">
        <?php foreach($list as $key => $value){ ?>
        <input type="hidden" name='id' value="{:$_GET['id']}" />

        <li>

            <a href="__MODULE__/user/msgdetail/msg_id/{$value.msg_id}">
                <?php if($value[status]==1){
                echo "<img src='__PUBLIC__/home/images/2.jpg'   width='90' height='90' alt=''/>";
                }else{
                echo "<img src='__PUBLIC__/home/images/3.jpg'   width='90' height='90' alt=''/>";}?>
                <!--<img src="__PUBLIC__/home/images/0.jpg" data-original="" alt="" /></a>-->
            <div class="newslist">
                <a href="__MODULE__/user/msgdetail/msg_id/{$value.msg_id}" style="font-size: 20px">{$value.msg_title}</a>
                <span>{$value.msg_time|date='Y-m-d H:i:s',###}</span>
                <!--<p></p>-->
                </br>
                <button type="button"  id="addnew" onclick="window.location.replace('__MODULE__/user/msgdelete/msg_id/{$value.msg_id}')">删除</button>

            </div>
        </li>
        <?php }?>
    </ul>

    <!--<div class="dede_pages">-->
    <!--<ul class="pagelist">-->
    <!--<span class="pageinfo"><strong>{$pagelist}</strong></span>-->
    <!--</ul>-->
    <!--</div>-->


</section>

<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.1.8.2.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.plugin.min.js" ></script>
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/Home/js/killie6.js" ></script>
<![endif]-->

<script type="text/javascript">
    //<![CDATA[
    //Nav Start
    $("header>div>nav>ul>li>a").hover(function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"6px",opacity:"0.7"},{duration:"normal", easing: "easeOutElastic"});
    },function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"10px",opacity:"1"},{duration:"normal", easing: "easeOutElastic"});
    });
    //<!----新闻---->
    <!---- 新闻首页 ----->
    //Nav End
    $("#gotop").click(function(){$('body,html').animate({scrollTop:0},500);})
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3fe5b2b119b5fc4931e9c73e7071b0c6' type='text/javascript'%3E%3C/script%3E"));
    var bds_config = {"bdTop":203};
    $("#bdshell_js").attr("src","http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours());
    //]]>
</script></body>
</html>
