<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>企业网站已经悄悄的转变成了一种网络营销应用_我的网站</title>
    <meta name="keywords" content="企业网站,已经,悄悄,的,转变,成了,一种,当," />
    <meta name="description" content="当是你最后一次使用的电话簿找到的产品或服务？如果你有一台电脑，平板电脑或智能手机的技术和访问，甚至有基本的了解，这可能是很难记住，当你拖着那么大，笨重的大部头，并翻阅它，" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" type="text/css" media="all" />
    <!--[if lt IE 9]><script type="text/javascript" src="__PUBLIC__/Home/js/html5.js" ></script><![endif]-->
</head>
<body >
<include file="public:header"/>
<!-- 查找最顶级栏目  -->
<section id="shownews">
    <div class="cat_title">
        <div class="wrapper">
            <h2><strong>message</strong>消息</h2>
            <p>最新消息...<br/>message ...</p>
        </div>
    </div>
    <div class="category">
        <div class="wrapper">
            <h1>题目：<?php echo $info[0][msg_title];?></h1>
            <span>时间：<?php echo date('Y-m-d H:i:s',$info[0][msg_time]);?></span> </div>
    </div>

    <article>
        <div class="wrapper" id="detailed"> <br style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 25px; font-size:15px; text-align: justify;">
            主题：</br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<?php echo $info[0][msg_content];?></span><br style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;" />
        </div>


        <div id="case_footer">
            <div class="wrapper showother"> <a class="backlist" href="__MODULE__/user/message" tppabs="">返回案例列表</a> </div>
        </div>
    </article>
</section>
<include file="public:footer"/>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.1.8.2.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.plugin.min.js" ></script>
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/Home/js/killie6.js" ></script>
<![endif]-->
<script type="text/javascript">
    //<![CDATA[
    //Nav Start
    $("header>div>nav>ul>li>a").hover(function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"6px",opacity:"0.7"},{duration:"normal", easing: "easeOutElastic"});
    },function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"10px",opacity:"1"},{duration:"normal", easing: "easeOutElastic"});
    });
    //<!----新闻---->
    <!---- 详细页 ----->
    //Show News Start
    $("#case_footer>.showother>.previous,#case_footer>.showother>.next").hover(function(){
        $("span>img",this).stop(false,true).animate({"left":"-20px"},{duration:"fast", easing: "easeOutQuad"});
        $("#show_thumb>img").hide().eq($(this).index($("#case_footer>.showother>.previous,#case_footer>.showother>.next"))).show();
    },function(){
        $("span>img",this).stop(false,true).animate({"left":"0"},{duration:"fast", easing: "easeOutQuad"});
    });
    //Show News End
    $("#gotop").click(function(){$('body,html').animate({scrollTop:0},500);})
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3fe5b2b119b5fc4931e9c73e7071b0c6' type='text/javascript'%3E%3C/script%3E"));
    var bds_config = {"bdTop":203};
    $("#bdshell_js").attr("src","http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours());
    //]]>
</script>
</body>
</html>
