<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>案例_我的网站</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/goodslist.css" type="text/css" media="all" />
    <!--[if lt IE 9]><script type="text/javascript" src="__PUBLIC__/Home/js/html5.js" ></script><![endif]-->
    <style type="text/css">
        #caseslist .cat_title .wrapper a{
            text-decoration:none ;
            font-size:15px;
            text-align:left
        }
        .leftmenu a:active,
.leftmenu a:visited,
.leftmenu a:link {
    display: block;
    text-decoration: none;
    margin: 6px 10px 6px 0px;
    padding: 2px 6px 2px 6px;
    color: #00527f;
    background-color: #d9e8f3;
    border: 1px solid #004266;
}

.leftmenu a:hover {
    color: red;
    background-color: #8cbbda;
}
    </style>
</head>
<body>
<include file="public:header"/>
<!-- 查找最顶级栏目  -->
<section id="caseslist">
    <div class="cat_title">
        <div class="wrapper">
            <h2><strong>LOST</strong>失物</h2>
            <p>失去了什么<br/>
                lost and found... </p>
            &nbsp&nbsp&nbsp
            <p class="leftmenu" style="float: right;">
                <a href="__MODULE__/Lost/add">添加物品</a>
                <a href="__MODULE__/Lost/self/user_id/{$userid}">我的物品</a>
            </p>
        </div>
    </div>
    <div id="filter">
        <div class="wrapper">
            <table width="1000px" border="0" align="center">
                <form action="__SELF__" method="get" >
                    <tr id="header">
                        <td width="640px" height="50px">

                            <li><button type="submit" name="study" value="study" >学习类</button></li>

                            <li><button type="submit" name="dianzi" value="dianzi">电子类</button></li>

                            <li><button type="submit" name="life" value="life">生活类</button></li>

                            <li><button type="submit" name="other" value="other">其他</button></li>
                            <div id="paixu">

                                时间排序<a href="#"><button type="submit" name="timeup" value="timeup" ><img src="__PUBLIC__/Home/css/images/up.jpg"  width="10" height="10"  /></button></a>&ensp;<a href="#"><button type="submit" name="timedown" value="timedown" ><img src="__PUBLIC__/Home/css/images/down.jpg"  width="10" height="10"  /></button></a>&ensp;&ensp;&ensp;&ensp;

                            </div>
                </form>

                </td>

                <td align="right" >
                    <form action="__SELF__" method="get" >
                        <div class="logo">
                            <a href="#"><button type="submit" class="ss" name="sosuo" ></button></a>
                            <input name="sosuo" type="text" class="ssb" value="请输入物品名或用户名"/>
                        </div>
                    </form>
                </td>
                </tr>

            </table>

        </div>
    </div>
    <ul class="cases wrapper">

        <?php foreach($info as $key => $value){?>

        <input type="hidden" name='id' value="{:$_GET['id']}" />



        <li class="item1"> 
        <?php if($value[lost_img]==null){
             echo "<img src='__PUBLIC__/$value[lost_img1]' tppabs=''  width='240' height='152' alt='$value[lost_name]' />";
             }else{
             echo "<img src='__PUBLIC__/$value[lost_img]' tppabs=''  width='240' height='152' alt='$value[lost_name]' />";}?>
         <strong></strong>
            {$value.lost_name}
            <p> <strong>{$value.lost_name} </strong> <em>QQ：{$value.lost_qq}<br/>
                时间:{$value.lost_time}</em>{$value.lost_detail}<br/>
                <a href="__MODULE__/Lost/lostdetail?id={$value.lost_id}" tppabs="" class="btn_blue">查看商品详情</a> </p>
        </li>

        <?php } ?>
    </ul>

    <div class="dede_pages">
        <ul class="pagelist">
            <span class="pageinfo"><strong>{$pagelist}</strong></span>
        </ul>
    </div>

</section>


<include file="public:footer"/>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.1.8.2.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.plugin.min.js" ></script>
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/Home/js/killie6.js" ></script>
<![endif]-->

<script type="text/javascript">
    //<![CDATA[
    //Nav Start
    $("header>div>nav>ul>li>a").hover(function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"6px",opacity:"0.7"},{duration:"normal", easing: "easeOutElastic"});
    },function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"10px",opacity:"1"},{duration:"normal", easing: "easeOutElastic"});
    });
    //<!--- 案例 ---->
    //Nav Start

    var pagecur=1;//当前页
    var username=getCookie("username");
    $("header>div>nav>ul>li>a").hover(function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"6px",opacity:"0.7"},{duration:"normal", easing: "easeOutElastic"});
    },function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"10px",opacity:"1"},{duration:"normal", easing: "easeOutElastic"});
    });
    //Nav End

    //Filter Start

    ajaxLogin("username="+username);
    $("#filter>div>p>.signIn").live("click",function(){
        $("#login_bg").css("height",$("body").height()+"px").fadeIn();
        $("#login").fadeIn();
        $("#username").val("");
        $("#password").val("");
        $("#login_err").text("");
    });
    $("#filter>div>p>.signOut").live("click",function(){
        ajaxOut("act=loginout&username="+username);
    });
    $("#login .close").click(closeLogin);
    $("#login .textinput").focusout(loginck);
    $("#signin").click(function(){
        if(loginck()) ajaxLogin("username="+$("#username").val()+"&password="+$("#password").val());
    });
    function closeLogin(){
        $("#login_bg").fadeOut();
        $("#login").fadeOut();
    }
    function loginck(){
        var reg=/[a-z]{3,12}/.test($("#username").val());
        if($("#username").val()==""){
            $("#login_err").text("帐号不能为空");
            return false;
        }
        if(!reg){
            $("#login_err").text("帐号格式不正确");
            return false;
        }
        if($("#password").val()==""){
            $("#login_err").text("密码不能为空");
            return false;
        }
        $("#login_err").text("");
        return true;
    }
    function getCookie(name){
        var cookieValue = "";
        var search = name + "=";
        if(document.cookie.length>0){
            offset = document.cookie.indexOf(search);
            if (offset != -1){
                offset += search.length;
                end = document.cookie.indexOf(";", offset);
                if (end == -1) end = document.cookie.length;
                cookieValue = unescape(document.cookie.substring(offset, end))
            }
        }
        return cookieValue;
    }
    function ajaxLogin(str){
        $.ajax({
            type: "POST",
            url: "http://mc18.eatdou.com/login.php",
            data: str,
            success: function(msg){
                if(msg!="false"){
                    document.cookie = "username="+msg;
                    $("#filter>div>p").html("欢迎你，"+msg+"！<a href='javascript:void(0)' class='signOut'>Sign Out</a>");
                    username=msg;
                    closeLogin();
                }else{
                    $("#login_err").text("登录失败，请核对帐号后重新登录。");
                    document.cookie = "username=";
                }
            },
            error:function(){
                $("#filter>div>p").html("查看更多案例？<a href='javascript:void(0)' class='signIn'>Sign In</a>");
            }
        });
    }

    //Filter End
    //Cases Start
    $("#caseslist>.cases>li").live({mouseenter:function(){
        $("p",this).stop(false,true).slideDown("normal","easeOutQuad");
    },mouseleave:function(){
        $("p",this).stop(false,true).slideUp("normal","easeOutQuad");
    }});
    $("#caseslist>.cases>li>img").lazyload({effect:"fadeIn",failurelimit:10});
    $("#loadmore>a").click(function(){
        if($("#loadmore>a").text()=="没有更多案例了..."){
            return false;
        }
        $("#loading").slideDown("normal","easeOutQuad");
        $.get(ajaxUrl+(pagecur+1)+"..html", function(data){
            $("#loading").slideUp("normal","easeOutQuad",function(){
                if(data==0){
                    $("#loadmore>a").text("没有更多案例了...");
                    return false;
                }
                $("#caseslist>.cases").append(data);
                $("#caseslist>.cases>li>img").lazyload({effect:"fadeIn",failurelimit:10});
            });
            pagecur++;
        });
    })
    //Cases End
    $("#gotop").click(function(){$('body,html').animate({scrollTop:0},500);})

    //]]>
</script>
</body>
</html>