
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1024" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" type="text/css" media="all" />
    <!--[if lt IE 9]><script type="text/javascript" src="__PUBLIC__/Home/js/html5.js" ></script><![endif]-->
</head>
<body >
<include file="public:header"/>
<!-- 查找最顶级栏目  -->
<section id="show_cases">
    <div class="cat_title">
        <div class="wrapper">
            <h2><strong>Lost</strong>丢失物品</h2>
            <p>丢失了什么<br/>
                lost and found... </p>
        </div>
    </div>

        <div class="wrapper">
            <div id="overview">
                <div class="overview_bg"></div>

            </div>
            <article>

            <div style='text-align: left;font-size: 18px;'>
                <form action="" method="post" enctype="multipart/form-data">
                    <!--隐藏域传递被修改的商品id信息-->
                    <input type="hidden" name="lost_id" value="{$info.lost_id}" />
                    <table>
                        <ul >

                            <li>
                                商品名称：<input name="lost_name" class="required" type="text" value="{$info.lost_name}"/>
                            </li>
                            </br></br>
                            <li>

                                商品种类：
                               <?php
                            if($info[lost_type]=='study'){
                            echo '<input name="lost_type"  type="radio" value="study" checked/>学习';
                                echo '<input name="lost_type"  type="radio" value="dianzi" />电子';
                                echo '<input name="lost_type"  type="radio" value="life" />生活';
                                echo '<input name="lost_type"  type="radio" value="other" />其他';
                                }else if($info[lost_type]=='dianzi'){
                                echo '<input name="lost_type"  type="radio" value="study" />学习';
                                echo '<input name="lost_type"  type="radio" value="dianzi" checked/>电子';
                                echo '<input name="lost_type"  type="radio" value="life" />生活';
                                echo '<input name="lost_type"  type="radio" value="other" />其他';
                                }else if($info[lost_type]=='life'){
                                echo '<input name="lost_type"  type="radio" value="study" />学习';
                                echo '<input name="lost_type"  type="radio" value="dianzi" />电子';
                                echo '<input name="lost_type"  type="radio" value="life" checked/>生活';
                                echo '<input name="lost_type"  type="radio" value="other" />其他';
                                }else{
                                echo '<input name="lost_type"  type="radio" value="study" />学习';
                                echo '<input name="lost_type"  type="radio" value="dianzi" />电子';
                                echo '<input name="lost_type"  type="radio" value="life" />生活';
                                echo '<input name="lost_type"  type="radio" value="other" checked/>其他';
                                }
                               ?>
                            </li>
                            </br></br>
                            <li>

                                QQ：<input name="lost_qq"  type="text" value="{$info.lost_qq}"/>


                            </li>
                            </br></br>
                            <li>

                                TEL：<input name="lost_tel"  type="text" value="{$info.lost_tel}"/>

                            </li>
                            </br></br>
                            <li>

                                商品图片：
                                <input name="lost_img"  type="file" /></br></br>
                                <img src="__PUBLIC__/{$info.lost_img}" tppabs=""  width="240" height="152" />
                                </br>
                                <input name="lost_img1"  type="file" /></br></br>
                                <img src="__PUBLIC__/{$info.lost_img1}" tppabs=""  width="240" height="152" />

                            </li>
                            </br></br>
                            <li>
                                商品详情：<textarea rows="3" cols="30" name="lost_detail">{$info.lost_detail}</textarea>
                            </li>

                        </ul>
                        </br></br></br></br>
                        <button type="submit" class="us_Submit_reg" name="sub">提交</button>
                    </table>

                </form>
        </div>


    </article>
    <div id="case_footer">
        <div class="wrapper showother">
            <a class="backlist" href="index.htm" tppabs="http://mc18.eatdou.com/case/shangwu/">返回案例列表</a>

        </div>
    </div>
</section>
<include file="public:footer"/>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.1.8.2.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.plugin.min.js" ></script>
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/Home/js/killie6.js" ></script>
<![endif]-->
<script type="text/javascript">
    //<![CDATA[
    //Nav Start
    $("header>div>nav>ul>li>a").hover(function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"6px",opacity:"0.7"},{duration:"normal", easing: "easeOutElastic"});
    },function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"10px",opacity:"1"},{duration:"normal", easing: "easeOutElastic"});
    });
    //<!--- 案例 ---->
    <!--案例详细-->
    //Cases Start
    if($.browser.msie&&$.browser.version==6.0&&!$.support.style){
        $("#overview").height($("#detailed").height());
    }
    $(window).scroll(function(){
        if($.browser.msie&&$.browser.version==6.0&&!$.support.style){
            return false;
        }
        if($(this).scrollTop()>110){
            $("article").css("background-position","center 80px");
        }else{
            $("article").css("background-position","center "+(190-$(this).scrollTop())+"px");
        }
    });
    $('#case_info h1').pngFix();
    $("#detailed img").lazyload({effect:"fadeIn",failurelimit:10});
    $("#case_footer>.showother>.previous,#case_footer>.showother>.next").hover(function(){
        $("span>img",this).stop(false,true).animate({"left":"-20px"},{duration:"fast", easing: "easeOutQuad"});
        $("#show_thumb>img").hide().eq($(this).index($("#case_footer>.showother>.previous,#case_footer>.showother>.next"))).show();
        $("#show_thumb").css({display:"block",left:$(this).css("left"),right:$(this).css("right"),bottom:"20px",opacity:"0"}).stop(false,true).animate({bottom:"25px",opacity:"1"},{duration:"fast", easing: "easeOutQuad"});
    },function(){
        $("span>img",this).stop(false,true).animate({"left":"0"},{duration:"fast", easing: "easeOutQuad"});
        $("#show_thumb").stop(false,true).animate({bottom:"20px",opacity:"0"},{duration:"fast", easing: "easeOutQuad"});
    })
    //Cases End
    //Cases End
    $("#gotop").click(function(){$('body,html').animate({scrollTop:0},500);})
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3fe5b2b119b5fc4931e9c73e7071b0c6' type='text/javascript'%3E%3C/script%3E"));
    var bds_config = {"bdTop":203};
    $("#bdshell_js").attr("src","http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours());
    //]]>
</script></body>
</html>