
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1024" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" type="text/css" media="all" />
    <!--[if lt IE 9]><script type="text/javascript" src="__PUBLIC__/Home/js/html5.js" ></script><![endif]-->
</head>
<body >
<header>
    <div id="navbg"></div>
    <div class="wrapper">
        <h1 class="logo">
            <a href="index.htm"  title="微校">
                <img src="__PUBLIC__/Home/images/logo.png" width="213" height="36" alt="" />
            </a>
        </h1>
        <nav>
            <ul>
                <li class="home"><a href="__MODULE__/index/index" >首页<span>网站首页！</span></a></li>
                <li class="cases"><a href="__MODULE__/Goods/goodslist" title="网页制作">商品<span>都有哪些商品</span></a></li>
                <li class="service"><a href="__MODULE__/syllabus/syllabus"  title="网站建设">课程表<span>都有什么课</span></a></li>
                <li class="client"><a href="__MODULE__/Grade/grade"  title="解决方案">成绩<span>考了多少？</span></a></li>
                <li class="about"><a href="__MODULE__/about/about"  title="关于学校">关于<span>项目如何</span></a></li>
            </ul>
        </nav>
        <?php
       if($_SESSION['username']!=null){
       $self=U('user/self');
       echo "欢迎您,"."<a href='$self'>".$_SESSION['username']."</a>";
        echo "&nbsp&nbsp";
        $logout=U('user/logout');
        echo        "<a href='$logout'>注销</a> ";
        }
        else {
        $login=U('user/login');
        $register=U('user/register');
        echo "<a href='$login'>登录</a>
        <a href='$register'>注册</a>"
        ;
        }
        ?>
    </div>
</header>
<!-- 查找最顶级栏目  -->
<section id="show_cases">
    <div class="cat_title">
        <div class="wrapper">
            <h2><strong>Goods</strong>商品</h2>
            <p>我们的作品，他们的故事<br/>Our work, their stories </p>
        </div>
    </div>

        <div class="wrapper">
            <div id="overview">
                <div class="overview_bg"></div>

            </div>
            <article>

            <div style='text-align: left;font-size: 18px;'>
                <form action="" method="post" enctype="multipart/form-data">
                    <!--隐藏域传递被修改的商品id信息-->
                    <input type="hidden" name="goods_id" value="{$info.goods_id}" />
                    <table>
                        <ul >

                            <li>
                                商品名称：<input name="goods_name" class="required" type="text" value="{$info.goods_name}"/>
                            </li>
                            </br></br>
                            <li>
                                商品价格：<input name="goods_price" class="required" type="text" value="{$info.goods_price}"/>
                            </li>
                            </br></br>
                            <li>

                                商品种类：
                               <?php
                            if($info[goods_type]==1){
                            echo '<input name="goods_type"  type="radio" value="1" checked/>学习';
                                echo '<input name="goods_type"  type="radio" value="2" />电子';
                                echo '<input name="goods_type"  type="radio" value="3" />生活';
                                echo '<input name="goods_type"  type="radio" value="4" />其他';
                                }else if($info[goods_type]==2){
                                echo '<input name="goods_type"  type="radio" value="1" />学习';
                                echo '<input name="goods_type"  type="radio" value="2" checked/>电子';
                                echo '<input name="goods_type"  type="radio" value="3" />生活';
                                echo '<input name="goods_type"  type="radio" value="4" />其他';
                                }else if($info[goods_type]==3){
                                echo '<input name="goods_type"  type="radio" value="1" />学习';
                                echo '<input name="goods_type"  type="radio" value="2" />电子';
                                echo '<input name="goods_type"  type="radio" value="3" checked/>生活';
                                echo '<input name="goods_type"  type="radio" value="4" />其他';
                                }else{
                                echo '<input name="goods_type"  type="radio" value="1" />学习';
                                echo '<input name="goods_type"  type="radio" value="2" />电子';
                                echo '<input name="goods_type"  type="radio" value="3" />生活';
                                echo '<input name="goods_type"  type="radio" value="4" checked/>其他';
                                }
                               ?>
                            </li>
                            </br></br>
                            <li>

                                QQ：<input name="goods_qq"  type="text" value="{$info.goods_qq}"/>


                            </li>
                            </br></br>
                            <li>

                                TEL：<input name="goods_tel"  type="text" value="{$info.goods_tel}"/>

                            </li>
                            </br></br>
                            <li>

                                商品图片：<input name="goods_img"  type="file"/></br></br>
                                <img src="__PUBLIC__/{$info.goods_img}" tppabs=""  width="240" height="152" />

                            </li>
                            </br></br>
                            <li>
                                商品详情：<textarea rows="3" cols="30" name="goods_detail">{$info.goods_detail}</textarea>
                            </li>


                        </ul>
                        </br></br></br></br>
                        <button type="submit" class="us_Submit_reg" >提交</button>
                    </table>

                </form>
        </div>


    </article>
    <div id="case_footer">
        <div class="wrapper showother">
            <a class="backlist" href="index.htm" tppabs="http://mc18.eatdou.com/case/shangwu/">返回案例列表</a>

        </div>
    </div>
</section>
<footer>
    <div id="footerlink">
        <nav class="wrapper">
            <a href="__MODULE__/Goods/goodslist" >二手交易</a>
            <a href="__MODULE__/Lost/lostlist">失物招领</a>
            <a href="__MODULE__/News/newslist">新闻</a>
            <a href="__MODULE__/Activity/activitylist">活动</a>
            <a href="__MODULE__/Syllabus/syllabus">课程表</a>
            <a href="__MODULE__/Grade/grade">成绩</a>
            <a href="#">校历</a>
            <a href="#">地图</a>
            <a id="gotop" href="javascript:void(0)">top</a>
        </nav>
    </div>
    <div id="footerinfo">
        <div class="wrapper1">
            <h2>联系我们<strong>Contact</strong></h2>
            <p>
                电话：xxxxxxxx<br/>
                传真：xxxxxxxxx<br/>
                电子邮件：xxxxxxxxx<br/>
                公司地址：xxxxxxxxxxx<br/>
                备案编号：xxxxxxxx<br/>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            </p>
            <img src="__PUBLIC__/Home/images/map.gif" id="homemap" width="258" height="190" alt="公司位置" />
        </div>
        <div class="links">
            <h2>友情链接<strong>Links</strong></h2>
            <p>
            <ul>
                <li>
                    <a href="#" target='_blank'>微校</a>
                </li>
                <li>
                    <a href="#" target='_blank'>微校</a>
                </li>
                <li>
                    <a href="#" target='_blank'>微校</a>
                </li>
                <li>
                    <a href="#" target='_blank'>微校</a>
                </li>
            </ul>
            </p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.1.8.2.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.plugin.min.js" ></script>
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/Home/js/killie6.js" ></script>
<![endif]-->
<script type="text/javascript">
    //<![CDATA[
    //Nav Start
    $("header>div>nav>ul>li>a").hover(function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"6px",opacity:"0.7"},{duration:"normal", easing: "easeOutElastic"});
    },function(){
        $(this).parent().stop(false,true).animate({"background-position-x":"10px",opacity:"1"},{duration:"normal", easing: "easeOutElastic"});
    });
    //<!--- 案例 ---->
    <!--案例详细-->
    //Cases Start
    if($.browser.msie&&$.browser.version==6.0&&!$.support.style){
        $("#overview").height($("#detailed").height());
    }
    $(window).scroll(function(){
        if($.browser.msie&&$.browser.version==6.0&&!$.support.style){
            return false;
        }
        if($(this).scrollTop()>110){
            $("article").css("background-position","center 80px");
        }else{
            $("article").css("background-position","center "+(190-$(this).scrollTop())+"px");
        }
    });
    $('#case_info h1').pngFix();
    $("#detailed img").lazyload({effect:"fadeIn",failurelimit:10});
    $("#case_footer>.showother>.previous,#case_footer>.showother>.next").hover(function(){
        $("span>img",this).stop(false,true).animate({"left":"-20px"},{duration:"fast", easing: "easeOutQuad"});
        $("#show_thumb>img").hide().eq($(this).index($("#case_footer>.showother>.previous,#case_footer>.showother>.next"))).show();
        $("#show_thumb").css({display:"block",left:$(this).css("left"),right:$(this).css("right"),bottom:"20px",opacity:"0"}).stop(false,true).animate({bottom:"25px",opacity:"1"},{duration:"fast", easing: "easeOutQuad"});
    },function(){
        $("span>img",this).stop(false,true).animate({"left":"0"},{duration:"fast", easing: "easeOutQuad"});
        $("#show_thumb").stop(false,true).animate({bottom:"20px",opacity:"0"},{duration:"fast", easing: "easeOutQuad"});
    })
    //Cases End
    //Cases End
    $("#gotop").click(function(){$('body,html').animate({scrollTop:0},500);})
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3fe5b2b119b5fc4931e9c73e7071b0c6' type='text/javascript'%3E%3C/script%3E"));
    var bds_config = {"bdTop":203};
    $("#bdshell_js").attr("src","http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours());
    //]]>
</script></body>
</html>