<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1024" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" type="text/css" media="all" />
    <!--[if lt IE 9]><script type="text/javascript" src="__PUBLIC__/Home/js/html5.js" ></script><![endif]-->

</head>
<body >
<include file="public:header" />
<!-- 查找最顶级栏目  -->
<section id="show_cases"  >
    <div class="cat_title">
        <div class="wrapper">
            <h2><strong>SYLLABUS</strong>课程表</h2>
            
            <p style="color:#333;font-size:15px;"><a href="__MODULE__/syllabus/relogin">重新导入课表</a></p>
        </div>
    </div>

		{$result}
		 
	</body>
</html>